.header {
  margin-bottom: 11.11vw;

  .head {
    margin: auto;
    margin-top: 0.97vw;
    margin-bottom: 10.42vw;
    width: 77.78vw;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 11.11vw;
      height: 3.47vw;
      background:  url(../img/header/logo/logo@3x.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .menu {
      width: 51.39vw;
      justify-content: space-around;
      align-items: center;

      .menu_item {
        display: block;
        font-size: 0.97vw;

        .i {
          font-size: 0.87vw;
          text-decoration: none;
          color: #000;

        }
      }
    }
    .upload-sketch {
      width: 12.5vw;
      height: 3.47vw;
      display: flex;
      text-decoration: none;
      outline: none;
      color: #fff;
      background: rgba(25, 104, 252, 1);

      span {
        margin: auto;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.04vw;
      }
    }

  }

  .launch-websites {
    margin-left: 11.11vw;
    width: 77.78vw;
    flex-direction: column;

    h1 {
      margin-bottom: 1.39vw;
      width: 41.67vw;
      font-size: 2.78vw;
      font-weight: 400;
      line-height: 4.17vw;
      letter-spacing: 0.07vw;
      color: $dark-blue-grey;
    }

    p {
      margin-bottom: 2.78vw;
      width: 52%;
      font-size: 1.39vw;
      line-height: 2.78vw;
      color: $dark-blue-grey;

    }

    .upload-sketch {
      width: 20.83vw;
      height: 3.47vw;
      display: flex;
      text-decoration: none;
      outline: none;
      color: #fff;
      background: rgba(25, 104, 252, 1);

      span {
        margin: auto;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.04vw;
      }
    }

  }
  .visit-desktop {
    display: none;
  }
  .images {
    div[class^="img"] {
      position: absolute;
    }

    .img-upload-download {
      top: 24vw;
      right: 11.11vw;
      width: 41.6vw;
      height: 34.86vw;
      background: url(../img/header/upload_download/illustration-main.png) no-repeat center top;
      background-size: cover;
      z-index: -1;
    }
  }

  div[class^="background-dots"] {
    background: url(../img/background-dots.png) no-repeat center top;
    background-size: cover;
    position: absolute;
  }

  .background-dots-1 {
    top:13.19vw;
    left:4.93vw;
    width: 1vw;
    height: 1vw;
  }

  .background-dots-2 {
    top:11.25vw;
    left:18.19vw;
    width: 0.7vw;
    height: 0.7vw;
  }

  .background-dots-3{
    top:7.5vw;
    left:49vw;
    width: 0.6vw;
    height: 0.6vw;
  }

  .background-dots-4 {
    top:13.54vw;
    left:56.88vw;
    width: 0.9vw;
    height: 0.9vw;
  }

  .background-dots-5 {
    top:10.9vw;
    left:83.33vw;
    width: 0.7vw;
    height: 0.7vw;
  }

  .background-dots-6 {
    top:18.7vw;
    left:29.9vw;
    width: 0.5vw;
    height: 0.5vw;
  }

  .background-dots-7 {
    top: 26.2vw;
    left:31vw;
    width: 0.5vw;
    height: 0.5vw;
  }

  .background-dots-8 {
    top: 28vw;
    left:46vw;
    width: 0.5vw;
    height: 0.5vw;
  }

  .background-dots-9 {
    bottom:-2vw;
    left: 65vw;
    width: 1vw;
    height: 1vw;
  }

  .background-dots-10 {
    bottom:2vw;
    left: 85vw;
    width: .7vw;
    height: .7vw;
  }
}
@media screen and (min-width: 1000px){
  .header {
    .launch-websites{
      .upload-sketch{
        .mobail{
          display: none;
        }
      }
    }
  }
}
