@import 'template/colors.scss';

@import 'template/our_story.scss';
@import 'template/header.scss';
@import 'template/about_vangoux.scss';
@import 'template/footer.scss';

html { font-family: 'Inter', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.h2 {
  width: 77.78vw;
  font-size: 2.08vw;
  line-height: 4.16vw;
  margin: auto;
  margin-bottom: 3.47vw;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    width: 5.56vw;
    border-bottom: solid $blue 0.16vw;
    position: absolute;
    top: 100%;
    left: -2.78vw;
  }

  &::after {
    content: "";
    width: 5.56vw;
    border-bottom: solid #d1e1fe 0.15vw;
    position: absolute;
    top: 104.5%;
    left: -2.78vw;
  }
}
