<footer>
	<div class="footer-content d-flex">

		<div class="logo"></div>

    {% include "src/nunjucks/nav/nav_Footer.njk" %}

		<div class="social">
			<a href="#" class="fb"></a>
			<a href="#" class="inst"></a>
		</div>

		<div class="vincent">	</div>

	</div>
</footer>
