<h2 class="caption">our story</h2>

<div class="about-us d-flex">

	<div class="story d-flex">
		<h3>Who are we?</h3>
		<p>Hi! We are Tom & Kay — two passionate engineers of user experience.
			 Building things people want makes us happy!
			 <br><br>
			 Kay is a former Googler and Tom is a startup veteran. We started VanGoux because it didn’t make sense
			 to us that UI designs needed to be recreated in code from scratch.
		</p>
	</div>

	<div class="story	d-flex">
		<h3>What’s up with the name?</h3>
		<p>VanGoux is pronounced Van Gogh — <br>
			as in Vincent Van Gogh meets UX.
			<br><br>
			Vincent  transformed anguish to ecstatic beauty through his art. This name is
			our way of honoring his profound work.
			<br><br>
			Check out Dr. Who doing something similar.
		</p>
	</div>
</div>
