
<ul class="menu d-flex">

	{% for item in headerNav %}
		<li class="menu_item">
			<a href="#" class="i">{{item}}</a>
		</li>
	{% endfor %}

<a href="#" class="upload-sketch d-flex"><span>Upload sketch</span></a>
</ul>
